.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: #FFFFFF;
  height: 60%;
  justify-content: space-between;
}

.TextUser{
  background-color: #7FD1B9;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:40px;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
  font-size: 20px;
  text-decoration: underline;
}


@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}