@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Header li,.Header a,.Header button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:  #7FD1B9;
    height: 60px;
}
.Header h1{
    color: white;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
  }
  .Header h1 span{
    font-weight: 800;
  }
  .Header ul{
      margin: 0px;
      list-style: none;
  }
  .Header ul li{
      display: inline-block;
      padding: 0px 20px;
  }

  .Header ul li:hover{
    cursor: pointer;
  }

  .Header button{
      padding: 9px;
      background-color:#edf0f1;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      color:#7FD1B9;
      transition: all 0.3s ease 0s;
  }
  .Header button:hover{
    background-color: #87E990;
    color: white;
  }

  @media only screen and (max-width: 717px){
    .Header{
      height: 80px;
    }
  }
  