

  
  p{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
  }


  @keyframes AutoSlide {
	0%, 15%, 100% {
		left: 0px; /*1ère image*/
	}
	35%, 50% {
		left: -400px; /*2ème image*/
	}
	70%, 85% {
		left: -800px; /*3ème image*/
	}
}

#slideshow {
	position: relative;
	width: 626px;
	height: 469px;
	margin:  20px auto;
	overflow: hidden;
}
#sContent li {
	display: inline;
}

#sContent {
	position: absolute;
	top: 0;
	left: 0;
    width: 1878px;
    height: 1407px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

#connexion{
   position: absolute; 
   top :150px;
   right: 20px;
}

#creercompte{
    position: absolute; 
   top :175px;
   right: 20px;
}