
  h3{
	margin-top: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
  }


  @keyframes AutoSlide {
	0%, 15%, 100% {
		left: 0px; /*1ère image*/
	}
	35%, 50% {
		left: -557px; /*2ème image*/
	}
	70%, 85% {
		left: -1114px; /*3ème image*/
	}
}

#slideshow {
	position: relative;
	width: 557px;
	height: 400px;
	margin:  20px auto;
	overflow: hidden;
}
#sContent li {
	display: inline;
}

#sContent {
	position: absolute;
	top: 0;
	left: 0;
    width: 1878px;
    height: 1407px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out; 
}

#sContent li img{
	width: 557px;
	height: 400px;
}

#connexion{
   position: absolute; 
   top :150px;
   right: 20px;
   display: flex;
   flex-direction: column;
}

.creercompte{
	width: 180px;
	border-radius: 25px;
	background-color: white;
	padding: 5px;
	cursor: pointer;
	margin-top: 5px;
   
}

.seconnect{
	width: 180px;
	border-radius: 25px;
	background-color: white;
	padding: 5px;
	cursor: pointer;
}