.fullPage{
    height: 84vh;
    background-image: url(../images/paysageProfile.jpg);
    background-size: 100%;
    padding-top: 20px;
}
.fullPage .container{
    height: auto;
    width: 40%;
}
.jumbotron{
    background-color: rgba(127, 209, 185, 0.3);
    margin-top: 20px;
}
