*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

.Title{
    width: 100%;
}
.Title h2{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.Connect{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Connect fieldset {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
}

.Connect legend {
    text-align: left;
    font-weight: 800;
    padding: 2px;
}
.Connect input{
  float: right;
  margin-left: 10px;
  border-radius: 5px;
  height: 20px;
  width: auto;
}
.Connect label{
    float: left;
    clear: left;
    width: auto;
    text-align: left;
    margin-bottom: 5px;
  }
.Connect button{
  float: right;
  border-radius: 25px;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  height: auto;
  width: auto;
}
.Connect button:hover{
  background-color: #7FD1B9;
}
.selects{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Langue{
    width: 40%;
    height: 40px;
    margin:5px;
}

form{
  height: auto;
  text-align: center;
}
