.maxS{
	padding-top: 20px;
	height: 90.4vh;
	background-image: url(images/paysage-nature.jpg);
	background-size: 100%;
}

.principal{
	display: flex;
	justify-content: space-evenly;
	margin: 20px;
	
 }

 .gauche{
	display: flex;
	justify-content: center;
	
	width: 50%;
	height: 75vh;
	background-color: rgb(6, 6, 58);
	border-radius: 6px;
	border: 5px solid #7FD1B9;
	
 }

 .App-logo{
	margin-top: 20px;
	margin-bottom: 20px;
	animation: App-logo-spin infinite 10s linear;
	height: 90%;
 }

 @keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
  }

 .droite {
	
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	width: 50%;
	height: 75vh;
	justify-content: center;
	text-align: center;
	border-radius: 20px;
	
 }

 .blabla h1{
	font-size: 45px;
 }

 .blabla p{
	 font-size: 20px;
 }

 .connexion{
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;

 }

 .seconnect {
	width: 150px;
	height: 55px;
	font-size: 20px;
	background-color: #eceff0;
	color: black;
	border-radius: 12px;
	border: 2px solid #0906df;
	transition-duration: 0.4s;
 }

 .seconnect:hover {
	background-color: #0906df; 
	color: white;
  }

  .creercompte {
	width: 150px;
	height: 55px;
	font-size: 20px;
	background-color: #eceff0;
	color: black;
	border-radius: 12px;
	border: 2px solid #0906df;
	transition-duration: 0.4s;
 }

 .creercompte:hover {
	background-color: #0906df; 
	color: white;
  }